Repository pantheon-org/opencode-font: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: "npx prettier --write {staged_files}"
      glob: "**/*.{ts,tsx,js,jsx,json,md,css,scss,html}"
    eslint:
      run: "npx eslint --fix {staged_files}"
      glob: "src/**/*.{ts,tsx,js,jsx}"
    typecheck:
      run: "npm run typecheck"
      glob: "**/*"
    test:
      run: "bun test"
      glob: "**/*"

chore: run typecheck only when TypeScript files are staged
  lefthook.yml
Due: none

chore: add pre-push hook to run full typecheck and tests
  lefthook.yml
Due: none

chore: use {staged_files} template in lefthook commands and narrow pre-commit test glob
  lefthook.yml
Due: none

chore: fix package.json trailing commas
  package.json
  src/convertTextToSVG.spec.ts
  src/convertTextToSVG.ts
Due: prettier, typecheck, test

chore: migrate ESLint to flat config and use 'ignores'
  .eslintignore
  .eslintrc.cjs
  eslint.config.cjs
Due: none

chore: run full ESLint autofix across repository
  bun.lock
Due: none

feat: add complete CI/CD pipeline for automated testing, versioning, and publishing
  .context/features/setup-ci-pipeline-lint-test-typecheck.md
  .github/scripts/analyze-commits.sh
  .github/scripts/calculate-version.sh
  .github/scripts/create-version-pr.sh
  .github/workflows/1-validate.yml
  .github/workflows/2-version-update.yml
  .github/workflows/3-auto-merge.yml
  .github/workflows/4-create-tag.yml
  .github/workflows/5-publish.yml
  .github/workflows/README.md
  .gitignore
  README.md
  package.json
Due: prettier, typecheck, test

chore: simplify .gitignore to allow .github directory
  .gitignore
Due: none

feat: add automated font generation pipeline with CI/CD integration
  .context/features/investigate-generate-popular-fonts-pipeline-local.md
  .github/workflows/1-validate.yml
  .github/workflows/5-publish.yml
  .github/workflows/README.md
  .gitignore
  bun.lock
  fonts/test.html
  package.json
  scripts/generate-fonts.ts
  scripts/validate-fonts.sh
  src/convertTextToSVG.ts
Due: prettier, typecheck, test

chore: apply prettier formatting to investigation document
  .context/features/investigate-generate-popular-fonts-pipeline-local.md
Due: prettier, typecheck, test

docs: enhance documentation with comprehensive usage guide and interactive demo
  README.md
  demo/index.html
Due: prettier, typecheck, test

feat: implement GitHub Pages deployment with Astro documentation site
  .context/features/implement-github-pages-deployment-astro-site.md
  .context/plan/implement-github-pages-deployment-astro-site.md
  .github/workflows/README.md
  .github/workflows/chores-pages.yml
  .github/workflows/deploy-docs.yml
  pages/.astro/collections/docs.schema.json
  pages/.astro/content-assets.mjs
  pages/.astro/content-modules.mjs
  pages/.astro/content.d.ts
  pages/.astro/types.d.ts
  pages/README.md
  pages/astro.config.mjs
  pages/bun.lock
  pages/package.json
  pages/public/fonts/OpenCodeLogo.ttf
  pages/public/fonts/OpenCodeLogo.woff
  pages/public/fonts/OpenCodeLogo.woff2
  pages/src/assets/logo-dark.svg
  pages/src/assets/logo-light.svg
  pages/src/components/ASCIISiteTitle.astro
  pages/src/components/Header.astro
  pages/src/content/config.ts
  pages/src/content/docs/index.md
  pages/src/content/docs/index.mdx
  pages/src/pages/demo.astro
  pages/src/pages/glyphs.astro
  pages/src/styles/custom.css
  pages/src/utils/alphabet.ts
  pages/transform-docs.js
  pages/tsconfig.json
  scripts/check-pages-source.sh
Due: prettier, typecheck, test

chore: update Astro generated files and project context
  .context/features/implement-github-pages-deployment-astro-site.md
  pages/.astro/collections/docs.schema.json
  pages/.astro/content.d.ts
  pages/.astro/types.d.ts
Due: prettier, typecheck, test

chore: trigger GitHub Pages deployment
  pages/README.md
Due: prettier, typecheck, test

chore: add .context/ to .gitignore and remove from repository
  .context/features/convert-project-to-bun-typescript.md
  .context/features/implement-github-pages-deployment-astro-site.md
  .context/features/investigate-generate-popular-fonts-pipeline-local.md
  .context/features/opencode-style-font-npm-text-to-svg.md
  .context/features/port-alphabet-module-blocky-text-to-svg.md
  .context/features/setup-ci-pipeline-lint-test-typecheck.md
  .context/plan/implement-github-pages-deployment-astro-site.md
  .gitignore
Due: prettier, typecheck, test

fix: update package name to match organization branding
  package.json
Due: none

chore: rename package from @pantheon-org/opencode-font to @pantheon-ai/opencode-font
  .github/workflows/5-publish.yml
  .github/workflows/README.md
  .gitignore
  README.md
  pages/.astro/collections/docs.schema.json
  pages/.astro/content.d.ts
  pages/.astro/types.d.ts
  pages/README.md
  pages/astro.config.mjs
  pages/src/content/docs/index.md
  pages/src/content/docs/index.mdx
  src/alphabet/README.md
  src/convertTextToSVG.ts
Due: prettier, typecheck, test

style: format Astro generated files with Prettier
  .gitignore
  pages/.astro/collections/docs.schema.json
  pages/.astro/content.d.ts
  pages/.astro/types.d.ts
Due: prettier, typecheck, test

chore: update .gitignore to exclude documentation artifacts
  .gitignore
Due: none

chore: remove auto-generated files from git tracking
  .gitignore
  pages/.astro/collections/docs.schema.json
  pages/.astro/content-assets.mjs
  pages/.astro/content-modules.mjs
  pages/.astro/content.d.ts
  pages/.astro/types.d.ts
  pages/src/content/docs/index.md
Due: prettier, typecheck, test

fix: preserve version bump commits to enable npm publishing pipeline
  .github/workflows/3-auto-merge.yml
  .github/workflows/4-create-tag.yml
Due: typecheck, test

chore: add GitHub workflow configurations for repository maintenance
  .github/scripts/check-repo-config.cjs
  .github/workflows/chores-dependabot.yml
  .github/workflows/chores-docs-regenerate.yml
  .github/workflows/chores-repo-config.yml
Due: typecheck, test

feat: enable long text support in interactive demo
  pages/src/pages/demo.astro
Due: typecheck, test

fix: improve glyph showcase card consistency and styling
  pages/src/pages/glyphs.astro
Due: typecheck, test

feat: add E2E testing infrastructure and code quality improvements
  .github/workflows/e2e-tests.yml
  .gitignore
  TESTING.md
  bun.lock
  docs/E2E-COVERAGE.md
  docs/E2E-TEST-IMPLEMENTATION.md
  docs/PLAYWRIGHT-QUICK-REFERENCE.md
  eslint.config.cjs
  package.json
  pages/src/pages/glyphs.astro
  playwright.config.ts
  src/alphabet/block.ts
  src/alphabet/types.ts
  src/convertTextToSVG.ts
  tests/README.md
  tests/coverage-example.spec.ts
  tests/coverage.helper.ts
  tests/demo.spec.ts
  tests/glyphs.spec.ts
  tests/home.spec.ts
  tests/pages/BasePage.ts
  tests/pages/DemoPage.ts
  tests/pages/GlyphsPage.ts
  tests/pages/HomePage.ts
Due: prettier, eslint, typecheck, test

chore: optimize pre-push hook to run unit tests only
  lefthook.yml
Due: none

refactor: migrate shell scripts to TypeScript and add documentation tooling
  .github/scripts/regenerate-docs-local.sh
  .github/scripts/trigger-docs-regeneration.sh
  package.json
  scripts/check-docs.ts
  scripts/check-pages-source.sh
  scripts/check-pages-source.ts
  scripts/fix-doc-links.ts
  scripts/validate-docs-links.ts
  scripts/validate-fonts.sh
  scripts/validate-fonts.ts
Due: prettier, typecheck, test

fix: update CI workflow to use new TypeScript validation script
  .github/workflows/1-validate.yml
Due: typecheck, test

test: add comprehensive E2E test suite with accessibility, error handling, user journeys, and visual regression tests
  .github/workflows/e2e-tests.yml
  .gitignore
  package-lock.json
  package.json
  tests/accessibility-keyboard.spec.ts
  tests/accessibility-wcag.spec.ts
  tests/error-handling.spec.ts
  tests/screenshots/baseline/.gitkeep
  tests/user-journeys.spec.ts
  tests/visual-regression.spec.ts
Due: prettier, typecheck, test

fix: upgrade astro-expressive-code from 0.38.3 to 0.41.5
  pages/package.json
Due: prettier, typecheck, test

fix: upgrade @astrojs/starlight from 0.36.3 to 0.37.2
  pages/package.json
Due: prettier, typecheck, test
